@import "src/styles.scss";

.card-body {
  width: 100%;
  margin: 0 auto px-to-rem(15);
  background-color: #ffffff;
  width: px-to-rem(300);
  height: px-to-rem(343);
  border-radius: px-to-rem(8);
  box-shadow: 0 px-to-rem(1) px-to-rem(3) rgba(0, 0, 0, 0.25);

  @include desktop {
    margin-bottom: 0;
  }
  div.image-box {
    position: relative;
  }
  div.image-box > .image-location {
    position: absolute;
    top: px-to-rem(149);
    border-radius: 0 px-to-rem(16) px-to-rem(16) px-to-rem(0);
    background-color: #ffffff;
    padding: 0 px-to-rem(8);
    height: px-to-rem(26);
    gap: px-to-rem(4);

    @include display-flex;
    @include align-center;

    mat-icon {
      color: #7d28f7;
    }
  }
  .card-img {
    width: px-to-rem(300);
    height: px-to-rem(191);
  }
  .card-informations {
    margin: px-to-rem(16) px-to-rem(15);
    .card-title {
      font-weight: 700;
      font-size: px-to-rem(20);
      line-height: px-to-rem(23);
      margin-bottom: px-to-rem(8);
    }
    .card-subtitle {
      font-weight: 400;
      font-size: px-to-rem(14);
      line-height: px-to-rem(14);
      margin-bottom: px-to-rem(16);
      max-height: px-to-rem(16);
    }

    .card-general-infos {
      .card-general-infos-item {
        @include display-flex;
        @include align-center;
        mat-icon {
          font-size: px-to-rem(16);
          height: px-to-rem(16);
          width: px-to-rem(16);
        }
        mat-icon + span {
          margin-left: px-to-rem(4);
        }
      }
      @include display-flex;
      @include align-center;
      justify-content: space-between;
    }

    .card-footer {
      @include display-flex;
      @include align-center;
      justify-content: space-between;

      .card-price {
        font-weight: 700;
        font-size: px-to-rem(26);
        line-height: px-to-rem(30);
      }

      mat-icon {
        color: #7d28f7;
      }
    }
  }
}
