@import "src/styles.scss";

.header-background {
  background-color: #7d28f7;
  width: 100%;
  height: px-to-rem(52);
  @include display-flex;
  @include align-center;
  justify-content: center;

  @include desktop {
    height: px-to-rem(61);
  }
}
.header-image {
  width: px-to-rem(126);
  height: px-to-rem(37);

  @include desktop {
    width: px-to-rem(155);
    height: px-to-rem(45);
  }
}
