@import "src/styles.scss";

* {
  color: #444444;
}

.body {
  min-height: 100vh;
  @include display-flex;
  flex-direction: column;

  .content {
    padding: 0 px-to-rem(16);
    @include desktop {
      padding: 0 px-to-rem(40);
    }

    .menu-buttons {
      padding: px-to-rem(32) 0 px-to-rem(24);
      button + button {
        margin-left: px-to-rem(8);
        @include desktop {
          margin-left: px-to-rem(4);
        }
      }
      @include desktop {
        padding: px-to-rem(34) auto px-to-rem(22);
      }

      button {
        border: #7d28f7 px-to-rem(1) solid;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-weight: 500;
        font-size: px-to-rem(10);
        line-height: px-to-rem(12);
        @include button-style;
      }
    }
    .page-title {
      font-weight: 700;
      font-size: px-to-rem(18);
      line-height: px-to-rem(21);

      @include desktop {
        font-size: px-to-rem(32);
        line-height: px-to-rem(38);
      }
    }
    .line-style {
      display: none;

      @include desktop {
        display: block;
        height: px-to-rem(3);
        background-color: #7d28f7;
        width: px-to-rem(55);
        border-radius: px-to-rem(4);
        margin-bottom: px-to-rem(16);
      }
    }
    .secondary-menu {
      .page-subtitle {
        font-weight: 400;
        font-size: px-to-rem(12);
        line-height: px-to-rem(14);
        margin: px-to-rem(3) 0 0;

        @include desktop {
          font-size: px-to-rem(18);
          line-height: px-to-rem(21);
        }
      }
      @include display-flex;
      flex-wrap: wrap;
      gap: px-to-rem(24);
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: px-to-rem(24);
      @include desktop {
        margin-bottom: px-to-rem(37);
      }
      .secondary-menu-buttons-group {
        display: inline-flex;
        gap: px-to-rem(8);
        flex-direction: row-reverse;

        span {
          font-family: "Roboto", "Helvetica Neue", sans-serif;
          font-weight: 500;
        }

        @include desktop {
          flex-direction: row;
        }
      }
      .secondary-menu-button {
        border: #ffffff px-to-rem(1) solid;
        font-family: a;
        font-size: px-to-rem(14);
        @include button-style;
        mat-icon {
          color: #7d28f7;
        }
      }
      .icon-and-text {
        @include display-flex;
        align-items: center;
        mat-icon {
          font-weight: 700;
          margin-right: px-to-rem(8);
        }
      }
    }
    .cards-group {
      @include desktop {
        @include display-flex;
        flex-wrap: wrap;
        gap: px-to-rem(26);
        app-card {
          flex-grow: 1;
        }
      }
    }
    .pagination-info {
      display: none;
      @include desktop {
        display: block;
        font-weight: 500;
        font-size: px-to-rem(14);
        line-height: px-to-rem(16);
        text-align: center;
        margin: px-to-rem(64) 0 px-to-rem(22);
      }
    }
    .load-more-button {
      display: none;
      @include desktop {
        cursor: pointer;
        @include display-flex;
        @include align-center;
        justify-content: center;
        margin-bottom: px-to-rem(44);
        span {
          color: #7d28f7;
        }
        mat-icon {
          color: #7d28f7;
        }
      }
    }
  }
  app-footer {
    margin-top: auto;
  }
}
