<footer class="footer-background">
  <div class="first-column flex column hide-mobile">
    <span class="column-title">Encontre seu veículo</span>
    <span class="column-subtitle">Encontre seu veículo</span>
    <span class="column-subtitle">Lojas</span>
    <span class="column-subtitle">Promoções</span>
    <span class="column-subtitle">Vantagens</span>
    <span class="column-subtitle">Garantia Mais</span>
  </div>
  <div class="second-column flex column hide-mobile">
    <span class="column-title">A Empresa</span>
    <span class="column-subtitle">Sobre</span>
    <span class="column-subtitle">Delivery</span>
    <span class="column-subtitle">Aviso de Privacidade</span>
    <span class="column-subtitle">Blog Seminovos</span>
  </div>
  <div class="third-column flex column hide-mobile">
    <span class="column-title">Atendimento</span>
    <span class="column-subtitle">Perguntas Frequentes</span>
    <span class="column-subtitle">Fale Conosco</span>
    <span class="column-subtitle">Pós-vendas</span>
  </div>
  <div class="forth-column flex column hide-mobile">
    <span class="column-title">Lojistas</span>
    <span class="column-subtitle">Acesse Seminovos Atacado</span>
  </div>
  <div class="fifth-column flex column">
    <span class="column-title">Atendimento ao cliente</span>
    <div class="row">
      <button class="phone-number">0800 000 000</button>
      <button class="whatsapp-icon">
        <img src="../../../../assets/icons/whatsapp.svg" alt="" />
      </button>
    </div>
  </div>
  <div class="sixth-column flex column">
    <span class="column-title">Siga a gente</span>
    <div class="row">
      <button class="icon">
        <img src="../../../../assets/icons/facebook.svg" alt="" />
      </button>
      <button class="icon">
        <img src="../../../../assets/icons/instagram.svg" alt="" />
      </button>
      <button class="icon">
        <img src="../../../../assets/icons/twitter.svg" alt="" />
      </button>
      <button class="icon">
        <img src="../../../../assets/icons/linkedin.svg" alt="" />
      </button>
    </div>
  </div>
</footer>
